* {
    padding: 0;
    margin: 0 auto;
    box-sizing: border-box;
}


.main
{   width: 65%;
    min-width: 50%;
    height: 969px;
    background-color: #3f2d2d1a;
    border-radius: 25px;
    box-shadow: 20px 11px 7px 5px rgb(0 0 0);
}



header{
width: 100%;
height: 150px;
padding: 20px;

}
header img{
    width: 250px;
    height: 300px;
    float:right;
    margin-right: 1%;
   
    border-radius: 15%;
    box-shadow: 20px 15px 20px 0px rgb(0, 0, 0);

}

header span{
    animation: flow 10s ease-in-out infinite;
    background: linear-gradient(-60deg, #ff0000, #01d9ff, #fd02e8);
    background-size: 300%;
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    padding:30px;
    font-size: 50px;

}
.ketnoi {
 list-style: none;

}
.ketnoi  li{
    float : right;
    padding:  10px;
    line-height: 30px;
    font-size: 25px;

}
.ketnoi a{
    text-decoration: none;
}
.aboutme{
    width: 65%;
    height: 10%;
    float:left;
    font-size: 20px;
    padding: 6px 50px;
   
}
.aboutme p{
    padding:5px  ;
}
.line
{
    width: 100%;
    height: 200px;
    border-bottom: 2px solid gray;
    border-top:2px solid gray; 
}
.content 
{
    width: 100%;
    height:270px;
    font-size: 20px;
    border-bottom: 2px solid  gray;
}
.content .skill
{
    width: 50%;
    height: 100%;
    float: left;
    border-right: 2px solid  gray;
    padding: 15px 50px;
}

.content .edu
{
    width: 50%;
    height: 100%;
    float:left;
    padding: 15px 50px;
}
.exp
{
    width: 100%;
    height:250px;
 
    text-align: center;
    border-bottom: 2px solid gray;

   
    
}
.exp1
{   width:50% ;
    height: 80%;

    float: left;
    font-size: 20px;
    text-align: left;
    padding: 15px 50px;
    border-right: 2px solid gray;

}
.exp2
{
    width:50% ;
    height: 80%;

    float: left;
    font-size: 20px;
    text-align: left;
    padding: 15px 50px;

}
a.button{
    display: inline-block;
    padding: 8px 20px;

    border-radius: 20px;
    margin:25px ;
    color:#fff;
    background-color: green;
    transition: opacity 0.2s ease;
}
.exp1 a{
    text-decoration: none;
}
footer
{
    height: 110px;
    width: 100%;
    padding:0px 50px;
}
footer p{
    padding:3px 10px ;
}
a.button:hover{
    opacity: 0.8;
}
@media only screen and (min-width: 375px) {
    .main{
        width: 95%;
        height: 100%;
    }
    h1{
        font-size: 17px;
 
    }
    h2{
        font-size: 15px;
 
    }
    h3{
        font-size: 14px;

    }
    p {
        font-size: 13px;
  
    }
    header {
        height: 100px;
    }
    header span{
        font-size: 20px;
        padding: 3px 20px;
    }
    header img{
        width: 100px;
        height: 150px;
    }
    .aboutme{
        width: 60%;

        padding: 3px 20px;
       
    }
 
    .content 
    {
    height:200px;

    }
    .exp
    {
    height:160px;

    }
    a.button{
        margin:10px 0;
        padding: 0px 15px;
    }
    .content .skill
    {
    padding: 0px 20px;
    }

    .content .edu
    {
    padding: 0px 20px;
    }
    .exp .exp1{
        padding: 3px 20px;
    }
    .exp .exp2{
        padding: 3px 20px;
    }
    footer
    {
  
    padding:0px 25px;
    }
    footer p
    {
        padding:2px 5px ;
    }
    .ketnoi  li{

    
        line-height: 20px;
        font-size: 20px;
    
    }
}
@media only screen and (min-width: 650px) {
    .main{
        width: 95%;
        height: 100%;
    }
    h1{
        font-size: 20px;
 
    }
    h2{
        font-size: 18px;
 
    }
    h3{
        font-size: 17px;

    }
    p {
        font-size: 15px;
  
    }
    header {
        height: 100px;
    }
    header span{
        font-size: 25px;
        padding: 3px 20px;
    }
    header img{
        width: 150px;
        height: 200px;
    }
    .aboutme{
        width: 60%;

        padding: 3px 20px;
       
    }
 
    .content 
    {
    height:200px;

    }
    .exp
    {
    height:160px;

    }
    a.button{
        margin:10px 0;
        padding: 3px 15px;
    }
    .content .skill
    {
    padding: 3px 20px;
    }

    .content .edu
    {
    padding: 3px 20px;
    }
    .exp .exp1{
        padding: 3px 20px;
    }
    .exp .exp2{
        padding: 3px 20px;
    }
}
@media only screen and (min-width: 875px) {
    .main{
        width: 95%;
        height: 100%;
    }
    h1{
        font-size: 22px;
 
    }
    h2{
        font-size: 20px;
 
    }
    h3{
        font-size: 18px;

    }
    p {
        font-size: 17px;
  
    }
    header {
        height: 100px;
    }
    header span{
        font-size: 30px;
        padding: 3px 20px;
    }
    header img{
        width: 200px;
        height: 250px;
    }
}
@media only screen and (min-width: 1024px) {

    .main{
        width: 95%;
        height: 850px;
    }
    h1{
        font-size: 24px;
 
    }
    h2{
        font-size: 22px;
 
    }
    h3{
        font-size: 20px;

    }
    p {
        font-size: 19px;
  
    }

    header span{
        font-size: 35px;
        padding: 3px 20px;
    }
    header img{
        width: 200px;
        height: 250px;
    }
    .aboutme{
        width: 60%;

        padding: 3px 20px;
       
    }
 
    .content 
    {
    height:220px;

    }
    .exp
    {
    height:180px;

    }
    a.button{
        margin:10px 0;
        padding: 3px 15px;
    }
    .content .skill
    {
    padding: 3px 20px;
    }

    .content .edu
    {
    padding: 3px 20px;
    }
    .exp .exp1{
        padding: 3px 20px;
    }
    .exp .exp2{
        padding: 3px 20px;
    }
    footer{
        height: 110px;
    }
}

@media only screen and (min-width: 1520px) {

    .main
    {   
        width: 50%;

        height: 969px;
   
    }



header{
    width: 100%;
    height: 150px;


}
header img{
    width: 250px;
    height: 300px;
    float:right;

}

header span{

    font-size: 50px;

}

.ketnoi  li{

    line-height: 30px;
    font-size: 25px;

}


.aboutme p{
    padding:5px  ;
}
.line
{
    width: 100%;
    height: 200px;
}
.content 
{
    width: 100%;
    height:270px;
    font-size: 20px;

}


.exp
{
    width: 100%;
    height:250px;

}

a.button{
    display: inline-block;
    padding: 8px 20px;

    border-radius: 20px;
    margin:25px ;
 
}

footer
{
    height: 110px;
    width: 100%;
    padding:0px 50px;
}
footer p{
    padding:3px 10px ;
}

}