* {
    padding: 0;
    margin: 0 auto;
    box-sizing: border-box;
}

html {
   
    font-family: 'Times New Roman', Times, serif;
}

header{
    background-color: white;
   padding:0 300px;
    height: 30px;
}

.fl{
    float: left;
}
ul{
    list-style-type: none;
}
.fl1
{
  
    float: left;
  transform: translateX(250px);
    margin-right:18px;
   margin-top: 5px;

}


#header1{
    height: 47px;
    width: 100%;
    background-image: linear-gradient(to left, #9f041b, #e32);
    padding: 25px 100px;
    position: relative;

}
.list {
    top: 50%;
    transform: translateY(-50%);
    position: absolute;
    right: 365px;
    display: inline-block;
    top:28px;

}

.list li:hover {
    cursor: pointer;
}

.list li {

  
    font-size: 10px;
    padding: 0 10px;
    padding: bottom 0px;
    
    display: inline-block;
    font-weight: 500;
    color:white;

}
.list input{
    height:26px ;
   
}
.quangcaotruong{
    display: flex;
    align-items: center;
    justify-content: center;
    transform: translateY(20%);
   
}
.header2{
    width: 61%;
    height: 21px;
    transform: translateY(140px);
    margin-left: 312px;
    border-bottom: 2px solid #e32;
 
   
}
.menu li{
    display: inline-block;
    font-size:10px;
 
}
.menu li a{
    text-decoration: none;
}
.noidung{
    width:980px ;
    height: 1500px;
   
    transform: translateY(170px);
}
.bao
{
    width: 686px;
    height:1500px;

    float:left;
   
}
.bao h1{
    color: #e32;
    font: normal 32px/normal Roboto-Bold;
    line-height: 1.25;
    margin-bottom: 2px;
    width: 664px;
    margin-top: 10px;
}
.bao .datetime{
    color: #727b88;
    font: normal 12px/normal Roboto;
    margin-bottom: 12px;
    padding: 4px 0;
}